<!DOCTYPE html>
<html xmlns:th="http://www.thyemleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link th:href="@{/static/css/bootstrap.min.css}" type="text/css"rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/header.js"></script>
    <script src="https://unpkg.com/htmx.org@1.5.0/dist/htmx.js"></script>
    <style>
        .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border: 0;
        }
        .modal-content .datepicker {
            font-size: 12px;
            width: 150px;
        }
    </style>
</head>
<body>
<div th:replace="~{commons/header :: header}"></div>
<br>
<br>
<strong th:text="|${#calendars.format(#calendars.createNow(), 'yyyy.MM.dd')}  (${currentDayOfWeek})|">2023.06.11 (일)</strong><br><br><span th:text="|오늘 로그인한 회원 : ${usercnt}|"></span>
<br>
<br>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <h2>팝업 ex</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>제목</th>
                        <th>기간</th>
                        <th>작성자</th>
                        <th>작성날짜</th>
                        <th>공개</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>ex</td>
                        <td>2023.09.05~2023.10.05</td>
                        <td>taehun2361</td>
                        <td>2023.09.05</td>
                        <td><button>공개</button></td>
                    </tr>
                    <tr>
                        <td>ex</td>
                        <td>2023.09.05~2023.10.05</td>
                        <td>taehun2361</td>
                        <td>2023.09.05</td>
                        <td><button>공개</button></td>
                    </tr>
                    <tr>
                        <td>ex</td>
                        <td>2023.09.05~2023.10.05</td>
                        <td>taehun2361</td>
                        <td>2023.09.05</td>
                        <td><button>공개</button></td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#popupEvent">팝업 열기</button>
            </div>
            <div class="text-center" style="display: none;">
                <h2>회원 찾기</h2>
                <div class="input-group flex-nowrap">
                    <label for="inputField" class="input-group-text" id="addon-wrapping">회원 찾기</label>
                    <input type="text" class="form-control" id="inputField" placeholder="찾을 회원의 아이디를 입력하세요." aria-describedby="addon-wrapping" aria-label="Username">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" id="findMemberButton">검색</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h2>공지 리스트</h2>
                <table class="table" id="notifiedTable">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>공개여부</th>
                        <th>공지삭제</th>
                    </tr>
                    </thead>
                    <tbody id="notifiedTbody">
                    <th:block th:if="${notifiedList != null}">
                        <tr th:each="notified : ${notifiedList}">
                            <td th:text="${#strings.substring(notified.notiNum,13)}"></td>
                            <td><a class="text-center"
                                   onclick="modifyNotified(this)"
                                   th:data-img="${notified?.notiImgName}"
                                   data-update="true" th:data-num="${notified.notiNum}"
                                   th:text="${notified.title}" data-bs-toggle="modal"
                                   data-bs-target="#popupModal" th:data-title="${notified.title}"
                                   th:data-content="${notified.content}"></a></td>
                            <td class="text-center" th:text="${notified.author}"></td>
                            <td class="text-center" th:text="${#temporals.format(notified.createdDate, 'yy.MM.dd')}"></td>
                            <td class="text-center">
                                <button class="btn btn-success btn-sm" th:if="${notified.showYn == 'Y'}" th:data-notified-title="${notified.title}"
                                        th:data-notified-id="${notified.id}" th:data-show-yn="${notified.showYn}" onclick="updateNotifiedShowYn(this)">공개</button>
                                <button class="btn btn-secondary btn-sm" th:if="${notified.showYn == 'N'}" th:data-notified-title="${notified.title}"
                                        th:data-notified-id="${notified.id}" th:data-show-yn="${notified.showYn}" onclick="updateNotifiedShowYn(this)">비공개</button>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-danger btn-sm" th:data-id="${notified.id}" th:data-title="${notified.title}" onclick="deleteNotification(this)">삭제</button>
                            </td>
                        </tr>
                    </th:block>
                    <th:block th:unless="${notifiedList != null}">
                        <tr>
                            <td colspan="5" class="text-center">데이터가 없습니다.</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example" th:if="${!notifiedList.isEmpty()}">
                    <ul class="pagination pagination-sm justify-content-center">
                        <li class="page-item">
                            <a class="page-link" th:href="@{|?notiPage=${notifiedList.number-1 > 0 ? notifiedList.number-1 : 0}|}"  aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:each="notiPage : ${#numbers.sequence(0, notifiedList.totalPages-1)}" th:classappend="${notiPage == notifiedList.number ? 'page-item active' : 'page-item'}">
                            <a class="page-link" th:text="${notiPage + 1}" th:href="@{|?notiPage=${notiPage + 1}|}"></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" aria-label="Next" th:href="@{|?notiPage=${notifiedList.number+1}|}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#popupModal">공지 작성</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h2>관리자 히스토리</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>관리자</th>
                            <th>내용</th>
                            <th>날짜</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:if="${logList != null and logList.numberOfElements > 0}" th:with="number=${logList.TotalElements - logList.number * logList.size}">
                        <tr th:each="log, status  : ${logList}">
                            <td th:text="${number - status.index}"></td>
                            <td th:text="${log.id}"></td>
                            <td th:text="${log.description}"></td>
                            <td th:text="${#temporals.format(log.recordDate, 'yy.MM.dd HH:mm:ss')}"></td>
                        </tr>
                        </th:block>
                    </tbody>
                    <th:block th:unless="${logList != null and logList.numberOfElements > 0}">
                        <tr>
                            <td colspan="4">데이터가 없습니다.</td>
                        </tr>
                    </th:block>
                </table>
                <!--페이지네이션 사용이 자주 되어서 페이지로 만들고 인자값을 보내서 완성-->
                <div th:replace="~{commons/pagination :: nav (list=${logList})}"></div>
            </div>
        </div>
    </div>
</div>
<!-- 영역1 팝업 모달 -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">회원 정보</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modalUserName"></p>
                <p>회원 아아디: <span id="modalUserId"></span></p>
                <p>회원 비밀번호: <span id="modalUserPassword"></span></p>
                <p>회원 이메일: <span id="modalUserEmail"></span></p>
                <p>회원 주소: <span id="modalUserAddr"></span></p>
                <p>회원 마지막 접속일: <span id="modalUserLastlogin"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- 영역2 팝업 모달 -->
<div class="modal fade" id="popupModal" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notiModalLabel">공지</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="resetModalFields()"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <input type="hidden" th:value="${loggedInUsername}" id="adminId">
                        <input type="hidden" value="" id="modifyId">
                        <input type="hidden" vlaue="" id="inputNotiNum">
                        <label for="inputTitle" class="form-label">제목</label>
                        <input type="text" class="form-control" id="inputTitle" placeholder="제목을 입력하세요">
                    </div>
                    <div class="mb-3">
                        <label for="notiImg" class="form-label">이미지</label>
                        <div class="input-group">
                            <input type="file" class="form-control visually-hidden" id="notiImg" accept="image/*">
                            <label class="input-group-text btn btn-outline-primary" for="notiImg">파일 선택</label>
                            <br>
                            <a href="#" id="selectedFileLink"></a>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="inputContent" class="form-label">내용</label>
                        <textarea class="form-control" id="inputContent" rows="3" placeholder="내용을 입력하세요"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="resetModalFields()">닫기</button>
                <button type="button" class="btn btn-primary" onclick="saveNotification()">저장</button>
            </div>
        </div>
    </div>
</div>

<!-- 23.09.12 영역1 팝업 모달 -->
<div class="modal fade" id="popupEvent" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popupModalLabel">팝업 입력</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form hx-boost="true" hx-post="/management/saveNotified" hx-encoding="multipart/form-data" hx-swap="none">
                    <input type="hidden" th:value="${loggedInUsername}" name="author">
                        <div class="row">
                            <div class="mb-3">
                                <label for="etitle" class="form-label">제목</label>
                                <input type="text" class="form-control" id="etitle" name="title" placeholder="제목을 입력하세요">
                            </div>
                            <div class="mb-3">
                                <label for="popImg" class="form-label">이미지</label>
                                <input type="file" class="form-control" id="popImg" name="notiImg">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="datepicker1" class="form-label">시작 날짜</label>
                                <input type="text"  id="datepicker1" name="starttime" class="form-control datepicker" readonly>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="datepicker2" class="form-label">종료 날짜</label>
                                <input type="text" id="datepicker2" name="endtime" class="form-control datepicker" readonly>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                            <button type="submit" class="btn btn-primary">저장</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{commons/footer :: footer}"></div>
<script>

        function saveNotification() {
            var title = $("#inputTitle").val();
            var content = $("#inputContent").val();
            var author = $("#adminId").val();
            var notiNum = $("#inputNotiNum").val();
            var modifyId = $("#modifyId").val();

            // FormData 객체 생성
            var formData = new FormData();
            formData.append("title", title);
            formData.append("content", content);
            formData.append("author", author);
            formData.append("notiNum", notiNum);
            formData.append("modify_id", modifyId);

            // 파일 input에서 선택된 파일 추가
            var fileInput = $("#notiImg")[0];
            if (fileInput.files.length > 0) {
                formData.append("notiImg", fileInput.files[0]);
            }

            $.ajax({
                type: "POST",
                url: "/management/saveNotified",
                data: formData,
                processData: false,
                contentType: false, // 파일 전송이므로 content type을 false로 설정
                success: function(response) {
                    console.log(response);
                    alert("공지사항 추가 성공");
                    $('#popupModal').modal('hide');
                    location.reload();
                },
                error: function(error) {
                    console.error("공지사항 추가 실패");
                }
            });
        }

        $("#findMemberButton").click(function() {
            var memberId = $("#inputField").val();

            $.ajax({
                type: "POST",
                url: "/management/findMember",
                data: {
                    memberId: memberId
                },
                success: function(response) {
                    if(response != null){
                        console.log(response);
                        alert("회원 정보를 찾았습니다.");
                        $("#modalUserName").text(response.name+"님의 정보");
                        $("#modalUserId").text(response.id);
                        $("#modalUserPassword").text(response.password);
                        $("#modalUserEmail").text(response.email);
                        $("#modalUserAddr").text(response.address);
                        // date 타입으로 변환 후 원하는 형태의 데이터로 가공합니다.
                        var date = new Date(response.lastLogin);
                        var formattedDate = date.getFullYear() + "-" +
                        ("0" + (date.getMonth() + 1)).slice(-2) + "-" +
                        ("0" + date.getDate()).slice(-2) + " " +
                        ("0" + date.getHours()).slice(-2) + "시" +
                        ("0" + date.getMinutes()).slice(-2) + "분" +
                        ("0" + date.getSeconds()).slice(-2) + "초";
                        $("#modalUserLastlogin").text(formattedDate);
                    }else{
                        alert("회원을 찾을 수 없습니다.");
                    }
                },
                error: function(error) {
                    alert("알 수 없는 오류로 실패하였습니다.");
                }
            });
        });
        function updateNotifiedShowYn(button) {
            var id = $(button).data("notified-id");
            var showYn = $(button).data("show-yn");
            var title = $(button).data("notified-title");

            var confirmMessage = "";
            var newShowYn = "";

            if (showYn === "Y") {
                confirmMessage = "공지사항을 비공개로 전환하시겠습니까?";
                newShowYn = "N";
            } else if (showYn === "N") {
                confirmMessage = "공지사항을 공개로 전환하시겠습니까?";
                newShowYn = "Y";
            }

            var Confirmed = confirm(confirmMessage);

            if (Confirmed) {
                $.ajax({
                    type: "POST",
                    url: "/management/updateNotifiedShowYn",
                    data: { id: id, showYn: newShowYn, title : title },
                    success: function (response) {
                        var newShowYn = $(button).data("show-yn");
                        if(newShowYn == 'Y'){
                            $(button).removeClass("btn-success").addClass("btn-secondary");
                            $(button).text("비공개");
                        }else{
                            $(button).removeClass("btn-secondary").addClass("btn-success");
                            $(button).text("공개");
                        }
                        alert("완료되었습니다.");

                    },
                    error: function (error) {
                        console.error("공지사항 공개 여부 업데이트 실패:", error);
                    }
                });
            }
        }

        //기존에 입력된 데이터를 가져옵니다. 그 후 저장 버튼을 누르면 ON CONFLICT (noti_num) DO UPDATE가 실행 됩니다.
        function modifyNotified(aTag){
            var title = $(aTag).data("title");
            var content = $(aTag).data("content");
            var modifyId = $("#adminId").val();
            var notiNum = $(aTag).data("num");
            var notiImgName = $(aTag).data("img");

            $("#inputTitle").val(title);
            $("#inputContent").val(content);
            $("#inputNotiNum").val(notiNum);
            $("#selectedFileLink").val(notiImgName);
            $("#selectedFileLink").text(notiImgName);

            var isUpdate = $(aTag).data("update"); // 업데이트인지 여부를 확인
            if (isUpdate) {
                $("#modifyId").val(modifyId); // 업데이트 시에만 modify_id를 설정
            } else {
                $("#modifyId").val(""); // 업데이트가 아닐 때는 빈 값을 설정
            }
        }

        //삭제 버튼이 눌리면 공지 게시글이 delete가 진행됩니다.
        function deleteNotification(button){
            var id = $(button).data("id");
            var title = $(button).data("title");

            if(id != null){
                $.ajax({
                    type : "DELETE",
                    url : "/management/deleteNotification",
                    data : {id : id, title : title},
                    success : function(response){
                        if(response == "true"){
                            alert("삭제 되었습니다.");
                            location.reload();
                        }else{
                            alert("삭제에 실패하였습니다.");
                        }
                    },
                    error: function (error){
                        alert("알 수 없는 오류로 실패하였습니다.");
                    }
                });
            }
        }
        $(document).ready(function () {
            $("#notiImg").on("change", function () {
                var selectedFileName = $(this).val().split("\\").pop();
                var selectedFileLink = $("#selectedFileLink");

                if (selectedFileName) {
                    selectedFileLink.text(selectedFileName);
                } else {
                    selectedFileLink.text("선택된 파일 없음");
                }
            });
        });

        function resetModalFields() {
            $("#inputTitle").val("");
            $("#inputContent").val("");
            $("#inputNotiNum").val("");
            $("#notiImg").val("");
            $("#selectedFileLink").text("");

            // 파일 선택 필드 레이블 초기화
            var fileInputLabel = $(".input-group-text.btn");
            fileInputLabel.text("파일 선택");
        }

        $(document).ready(function() {
            $(".date").hide();
        });

        $("#eventcate").on("change",function(){
            var cate = $("#eventcate").val();
            if(cate == "event"){
                $(".date").show();
            }else{
                $(".date").hide();
            }
        });

        $(function () {
              //input을 datepicker로 선언
              $("#datepicker1,#datepicker2").datepicker({
                  dateFormat: "yy-mm-dd", //달력 날짜 형태
                  showOtherMonths: true, //빈 공간에 현재월의 앞뒤월의 날짜를 표시
                  showMonthAfterYear: true, // 월- 년 순서가아닌 년도 - 월 순서
                  changeYear: true, //option값 년 선택 가능
                  changeMonth: true, //option값  월 선택 가능
                  showOn: "both", //button:버튼을 표시하고,버튼을 눌러야만 달력 표시 ^ both:버튼을 표시하고,버튼을 누르거나 input을 클릭하면 달력 표시
                  buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif", //버튼 이미지 경로
                  buttonImageOnly: true, //버튼 이미지만 깔끔하게 보이게함
                  buttonText: "선택", //버튼 호버 텍스트
                  yearSuffix: "년", //달력의 년도 부분 뒤 텍스트
                  monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"], //달력의 월 부분 텍스트
                  monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"], //달력의 월 부분 Tooltip
                  dayNamesMin: ["일", "월", "화", "수", "목", "금", "토"], //달력의 요일 텍스트
                  dayNames: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"], //달력의 요일 Tooltip
                  minDate: "-5Y", //최소 선택일자(-1D:하루전, -1M:한달전, -1Y:일년전)
                  maxDate: "+5y", //최대 선택일자(+1D:하루후, -1M:한달후, -1Y:일년후)
              });



              //초기값을 오늘 날짜로 설정해줘야 합니다.
              $("#datepicker").datepicker("setDate", "today"); //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)
        });



</script>
</body>
</html>
