<!DOCTYPE html>
<html xmlns:th="http://www.thyemleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">Since 2023 stz Company</p>
    <ul class="list-inline">
        <li class="list-inline-item">대표자명: 김태훈</li>
        <li class="list-inline-item">대표전화: 010-7750-2361</li>
        <li class="list-inline-item"><a href="https://github.com/stz7750">gitHub</a></li>
        <li class="list-inline-item"><a href="#">사이트맵</a></li>
    </ul>
</footer>
</body>
</html>