<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/hello/main" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="/hello/myPage" class="nav-link px-2 text-white">마이페이지</a></li>
                <li><a href="/content/boardList" class="nav-link px-2 text-white">자유게시판</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <div class="search-container">
                    <div class="select-container">
                        <select class="form-select form-select-sm" aria-label="Default select example" id="searchType">
                            <option value="all" selected>전체</option>
                            <option value="title">제목</option>
                            <option value="author">작성자</option>
                            <option value="postContent">글 내용</option>
                        </select>
                    </div>
                </div>
            </form>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <div class="search-container">
                    <div class="select-container">
                        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" id="searchValue">
                    </div>
                </div>
            </form>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <div class="search-container">
                    <div class="select-container">
                        <button type="button" class="btn btn-light" id="searchBtn" >검색</button>
                    </div>
                </div>
            </form>

            <div class="text-end">
                <th:block th:if="${loggedInUsername != null}">
                    <a type="button"  class="btn btn-outline-light me-2" href="/hello/logout">Logout</a>
                </th:block>
                <th:block th:unless="${loggedInUsername != null}">
                    <a type="button" class="btn btn-outline-light me-2" href="/hello/login">Login</a>
                </th:block>
                <a th:if="${loggedInUsername == null}"type="button" class="btn btn-warning" href="/hello/entry">Sign-up</a>
                <String th:unless="${loggedInUsername == null}" th:text="|${loggedInUsername}님 안녕하세요.|"></String>
            </div>
        </div>
    </div>
</header>
</body>
</html>
