<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/static/js/jquery-3.6.0.min.js}"></script>
    <title>회원 가입</title>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container">
    <main>
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
            <h2>회원 가입</h2>
            <p class="lead">누구나 쉽게 이용 가능한 대나무숲 입니다.<br> 회원 가입을 위한 필수 정보를 입력해주세요.</p>
        </div>


            <div class="div-form">
                <h4 class="mb-3">정보</h4>
                <form id="signUpForm">
                    <div class="col-12">
                        <label for="name" class="form-label">이름</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">이름</span>
                            <input type="text" class="form-control" id="name" name="name" placeholder="이름을 입력해주세요." maxlength="30" required>
                        </div>
                    </div>

                        <div class="col-12">
                            <label for="id" class="form-label">ID</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">ID</span>
                                <input type="text" class="form-control" id="id" name="id" placeholder="ID를 입력해주세요." maxlength="30" pattern="[A-Za-z0-9]+" required>
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="passwd" class="form-label">비밀번호</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">password</span>
                                <input type="password" class="form-control" name="password" id="password" maxlength="15" placeholder="비밀번호를 입력해주세요." required>
                            </div>
                        </div>

                    <div class="col-12">
                        <label for="email" class="form-label">이메일</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">email</span>
                            <input type="email" class="form-control" name="email" id="email" maxlength="255" placeholder="your@eample.com" required>
                        </div>
                    </div>

                        <div class="col-12">
                            <label for="address" class="form-label">주소</label>
                            <input type="text" class="form-control" id="address" name="address"placeholder="서울특별시 OO구 OO동" required readonly>
                            <input type="button" value="우편번호 검색" onclick="addPost()">
                        </div>

                        <div class="col-12" style="display:none;" id="addressDiv">
                            <label for="address2" class="form-label">상세주소<span class="text-muted"></span></label>
                            <input type="text" class="form-control" id="address2" name="address" placeholder="상세주소를 입력해주세요.">
                        </div>



                    <hr class="my-4">

                </form>
                <button class="btn btn-primary" id="joinBtn" type="button">가입</button>
                <button class="btn btn-danger"><a href="#">취소</a></button>
            </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">Since 2023 stz Company</p>
        <ul class="list-inline">
            <li class="list-inline-item">대표자명: 김태훈</li>
            <li class="list-inline-item">대표전화: 010-7750-2361</li>
            <li class="list-inline-item"><a href="https://github.com/stz7750">gitHub</a></li>
            <li class="list-inline-item"><a href="#">사이트맵</a></li>
        </ul>
    </footer>
</div>

<script>
    function addPost(){
        new daum.Postcode({
            oncomplete: function(data) {
                    document.querySelector("#address").value = data.address;
                    alert("나머지 주소도 입력하세요.");
                    document.querySelector("#addressDiv").style.display = "block";
                    document.querySelector("#address2").focus();
            }
        }).open();
    }

    $("#joinBtn").on("click",function(e){
        event.preventDefault(); //이벤트 동작 중단
        var isValid = isVaildFormData();
        if(isValid){
            //ajax로 폼 데이터를 보냅니다.
            $.ajax({
                type:"POST",
                url:"/hello/signUp",
                data: $("#signUpForm").serialize(),
                success:function(response){
                    console.log("서버 응답:", response);
                    alert("회원 가입이 성공적으로 완료되었습니다.");
                },
                error: function(error){
                    console.error("에러 발생:", error);
                    alert("에러가 발생했습니다. 잠시 후에 다시 시도해주세요.");
                }
            });
        }
    });

    function isVaildFormData(){
            var id = $("#id").val();
            var name = $("#name").val();
            var password = $("#password").val();
            var address = $("#address").val();
            var address2 = $("#address2").val();
            var email = $("#email").val();

            var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            var reg = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,15}$/;

            if(name == null || name == ''){
                alert("이름을 입력해주세요.");
                $("#id").focus();
                return false;
            }else if(id == null || id == ''){
                alert("아이디를 입력해주세요.");
                $("#name").focus();
                return false;
            }else if(password == null  || password == ''){
                alert("패스워드를 입력해주세요.");
                $("#password").focus();
                return false;
            }else if (!reg.test(password)) {
                alert("비밀번호는 영문, 숫자, 특수문자를 포함한 8자 이상 15자 이하로 설정해주세요.");
                $("#password").focus();
                return false;
            }else if(address == null || address == ''){
                alert("주소을 입력해주세요.");
                $("#address").focus();
                return false;
            }else if(address2 == null || address2 == ''){
                alert("상세주소를 입력해주세요.");
                $("#address2").focus();
                return false;
            }else if(email == null || email == ''){
                alert("이메일을 입력해주세요.");
                $("#email").focus();
                return false;
            }else if(!emailPattern.test(email)){
                alert("이메일 형식과 다릅니다.");
                $("#email").focus();
                return false;
            }else{
                return true;
            }

    }


</script>
</body>
</html>
