<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
    <link th:href="@{/static/css/bootstrap.min.css}" type="text/css"rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/header.js"></script>
</head>
<body>
<!-- 공통 헤더 부분-->
<div th:replace="~{commons/header :: header}"></div>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Main</h1>
            <p class="lead text-muted">Main Img and Text
            <p>
                <a href="#" class="btn btn-primary my-2">버튼1</a>
                <a href="#" class="btn btn-secondary my-2">버튼2</a>
            </p>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <!-- 오늘 하루 베스트 추천 -->
        <div class="col-md-6">
            <h2 class="text-center">추천 게시글 랭킹</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" id="recAnchorToday">오늘</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="recAnchorMonth">주간</a>
                </li>
            </ul>
            <table class="table" id="recTable">
                <thead>
                <tr>
                    <th class="text-center">분류</th>
                    <th class="text-center">제목</th>
                    <th class="text-center">작성자</th>
                    <th class="text-center">작성일</th>
                    <th class="text-center">추천수</th>
                </tr>
                </thead>
                <tbody id="recTbody">
                <th:block th:if="${!#lists.isEmpty(RecContent)}" th:each="content : ${RecContent}">
                    <tr>
                        <td th:text="${content.category}" class="text-center"></td>
                        <td><a th:href="@{/content/view/{id}(id=${content.id})}" th:text="${content.title}" class="text-center"></a></td>
                        <td th:text="${content.author}" class="text-center"></td>
                        <td th:text="${#temporals.format(content.creDate, 'yy.MM.dd')}" class="text-center"></td>
                        <td th:text="${content.recCount}" class="text-center"></td>
                    </tr>
                </th:block>
                <th:block th:unless="${!#lists.isEmpty(RecContent)}">
                    <tr>
                        <td colspan="5" class="text-center">데이터가 없습니다.</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>


        <!-- 오늘 하루 베스트 조회수 -->
        <div class="col-md-6 text-md-end">
            <h2 class="text-center">조회수 게시글 랭킹</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" id="viewAnchorToday">오늘</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="viewAnchorMonth">주간</a>
                </li>
            </ul>
            <table class="table" id="viewTable">
                <thead>
                <tr>
                    <th>분류</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody id="viewTbody">
                <th:block th:if="${!#lists.isEmpty(viewContent)}" th:each="content : ${viewContent}">
                    <tr>
                        <td th:text="${content.category}" class="text-center"></td>
                        <td><a th:href="@{/content/view/{id}(id=${content.id})}" th:text="${content.title}" class="text-center"></a></td>
                        <td th:text="${content.author}" class="text-center"></td>
                        <td th:text="${#temporals.format(content.creDate, 'yy.MM.dd')}" class="text-center"></td>
                        <td th:text="${content.views}" class="text-center"></td>
                    </tr>
                </th:block>
                <th:block th:unless="${!#lists.isEmpty(RecContent)}">
                    <tr>
                        <td colspan="5" class="text-center">데이터가 없습니다.</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 간격을 위한 마진 추가 -->
    <div class="mb-5"></div>

    <div class="row">
        <!-- 카테고리 별 게시물 -->
        <div class="col-md-6">
            <h2 class="text-center">카테고리 별 추천 게시물</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link category-link" href="#" data-category="all">전체</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link category-link" href="#" data-category="one">one</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link category-link" href="#" data-category="two">two</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link category-link" href="#" data-category="three">three</a>
                </li>
            </ul>
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">순위</th>
                    <th class="text-center">제목</th>
                    <th class="text-center">작성자</th>
                    <th class="text-center">작성일</th>
                    <th class="text-center">조회수</th>
                </tr>
                </thead>
                <tbody id="categoryTbody">

                </tbody>
            </table>
        </div>

        <!-- 공지? 게시물 -->
        <div class="col-md-6 text-md-end">
            <h2>Table 4</h2>
            <table class="table">
                <!-- 테이블 내용 -->
            </table>
        </div>
    </div>
</div>


<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
            <small class="d-block mb-3 text-muted">&copy; 2017–2022</small>
        </div>
        <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Cool stuff</a></li>
                <li><a class="link-secondary" href="#">Random feature</a></li>
                <li><a class="link-secondary" href="#">Team feature</a></li>
                <li><a class="link-secondary" href="#">Stuff for developers</a></li>
                <li><a class="link-secondary" href="#">Another one</a></li>
                <li><a class="link-secondary" href="#">Last time</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Resource name</a></li>
                <li><a class="link-secondary" href="#">Resource</a></li>
                <li><a class="link-secondary" href="#">Another resource</a></li>
                <li><a class="link-secondary" href="#">Final resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Business</a></li>
                <li><a class="link-secondary" href="#">Education</a></li>
                <li><a class="link-secondary" href="#">Government</a></li>
                <li><a class="link-secondary" href="#">Gaming</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Team</a></li>
                <li><a class="link-secondary" href="#">Locations</a></li>
                <li><a class="link-secondary" href="#">Privacy</a></li>
                <li><a class="link-secondary" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>
<script>
$(document).ready(function() {
    $("#recAnchorMonth").click(function() {
        $(this).addClass("active");
        $("#recAnchorToday").removeClass("active");
        updateTable("getWeekRecData", "recTbody");
    });

    $("#recAnchorToday").click(function(){
        $(this).addClass("active");
        $("#recAnchorMonth").removeClass("active");
        updateTable("getTodayRecData","recTbody");
    });

    $("#viewAnchorToday").click(function(){
        $(this).addClass("active");
        $("#viewAnchorToday").removeClass("active");
        updateTable("getTodayViewData","viewTbody");
    });

    $("#viewAnchorMonth").click(function() {
        $(this).addClass("active");
        $("#viewAnchorToday").removeClass("active");
        updateTable("getWeekViewData", "viewTbody");
    });

    function updateTable(url, tbodyId) {

        $.ajax({
            url: url,
            type: "POST",
            success: function(data) {
                $("#" + tbodyId).html(data);
            }
        });
    }

    $(".category-link[data-category='all']").addClass("active");
    updateCategoryTable("all");

    $(".category-link").click(function() {
        $(".category-link").removeClass("active");
        $(this).addClass("active");
        var category = $(this).data("category");
        updateCategoryTable(category);
    });

    function formatDateTime(dateTime) {
        var datePart = dateTime.split("T")[0];
        var formattedDate = datePart.replace(/-/g,".");
        return formattedDate;
    }


    function updateCategoryTable(category) {
        $.ajax({
            url: "getCategoryByContent",
            type: "POST",
            data: { category: category },
            success: function(data) {
                var tableBody = $("#categoryTbody");
                tableBody.empty();

                if (data.length === 0) {
                    tableBody.append("<tr><td colspan='5'>데이터가 없습니다.</td></tr>");
                } else {
                    data.forEach(function(content) {
                        var row = $("<tr></tr>");
                        row.append("<td class='text-center'>" + content.category + "</td>");
                        row.append("<td style='text-align: center;'><a href='/content/view/" + content.id + "' style='text-decoration: none; color: black;'>" + content.title + "</a></td>");
                        row.append("<td class='text-center'>" + content.author + "</td>");
                        row.append("<td class='text-center'>" + formatDateTime(content.creDate) + "</td>");
                        row.append("<td class='text-center'>" + content.views + "</td>");
                        tableBody.append(row);
                    });
                }
            }
        });
    }
});
</script>
</body>
</html>
