<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
    <link th:href="@{/static/css/bootstrap.min.css}" type="text/css"rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/header.js"></script>
    <!--htmx script tag -->
    <script src="https://unpkg.com/htmx.org@1.8.6"></script>
</head>
<body>
<!-- 공통 헤더 부분-->
<div th:replace="~{commons/header :: header}"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="mt-4">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <th:block th:each="item, itemStat : ${mainNotified}">
                            <div class="carousel-item" th:classappend="${itemStat.index == 0 ? 'active' : ''}">
                                <!-- 이미지 -->
                                <img src="/static/img/test-img.jpg"  class="d-block w-100" alt="Notification Image" style="height: 400px;">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 th:text="${item.title}" style="color: black;"></h5>
                                    <p th:text="${item.content}" style="color: black;"></p>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <button class="carousel-control-prev btn btn-dark" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next btn btn-dark" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
<hr>
    <br>
    <br>
    <br>
    <div class="row">
        <!-- 오늘 하루 베스트 추천 -->
        <div class="col-md-6">
            <h2 class="text-center">추천 게시글 랭킹</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" id="recAnchorToday">오늘</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="recAnchorMonth">주간</a>
                </li>
            </ul>
            <table class="table" id="recTable">
                <thead>
                <tr>
                    <th class="text-center">분류</th>
                    <th class="text-center">제목</th>
                    <th class="text-center">작성자</th>
                    <th class="text-center">작성일</th>
                    <th class="text-center">추천수</th>
                </tr>
                </thead>
                <tbody id="recTbody">
                <th:block th:if="${!#lists.isEmpty(RecContent)}" th:each="content : ${RecContent}">
                    <tr>
                        <td th:text="${content.category}" class="text-center"></td>
                        <td><a th:href="@{/content/boardView?id=${content.id}}" th:text="${content.title}" class="text-center"></a></td>
                        <td th:text="${content.author}" class="text-center"></td>
                        <td th:text="${#temporals.format(content.creDate, 'yy.MM.dd')}" class="text-center"></td>
                        <td th:text="${content.recCount}" class="text-center"></td>
                    </tr>
                </th:block>
                <th:block th:unless="${!#lists.isEmpty(RecContent)}">
                    <tr>
                        <td colspan="5" class="text-center">데이터가 없습니다.</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>


        <!-- 오늘 하루 베스트 조회수 -->
        <div class="col-md-6 text-md-end">
            <h2 class="text-center">조회수 게시글 랭킹</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" id="viewAnchorToday">오늘</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="viewAnchorMonth">주간</a>
                </li>
            </ul>
            <table class="table" id="viewTable">
                <thead>
                <tr>
                    <th>분류</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody id="viewTbody">
                <th:block th:if="${!#lists.isEmpty(viewContent)}" th:each="content : ${viewContent}">
                    <tr>
                        <td th:text="${content.category}" class="text-center"></td>
                        <td><a th:href="@{/content/boardView?id=${content.id}}" th:text="${content.title}" class="text-center"></a></td>
                        <td th:text="${content.author}" class="text-center"></td>
                        <td th:text="${#temporals.format(content.creDate, 'yy.MM.dd')}" class="text-center"></td>
                        <td th:text="${content.views}" class="text-center"></td>
                    </tr>
                </th:block>
                <th:block th:unless="${!#lists.isEmpty(RecContent)}">
                    <tr>
                        <td colspan="5" class="text-center">데이터가 없습니다.</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 간격을 위한 마진 추가 -->
    <div class="mb-5"></div>

    <div class="row">
        <!-- 카테고리 별 게시물 -->
        <div class="col-md-6">
            <h2 class="text-center">카테고리 별 추천 게시물</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link category-link" href="#" data-category="all">전체</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link category-link" href="#" data-category="one">one</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link category-link" href="#" data-category="two">two</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link category-link" href="#" data-category="three">three</a>
                </li>
            </ul>
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">순위</th>
                    <th class="text-center">제목</th>
                    <th class="text-center">작성자</th>
                    <th class="text-center">작성일</th>
                    <th class="text-center">조회수</th>
                </tr>
                </thead>
                <tbody id="categoryTbody">

                </tbody>
            </table>
        </div>

        <div class="col-md-6 text-md-end">
            <h2 class="text-center">인기 멤버</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>순위</th>
                    <th>작성자</th>
                    <th>총 추천수</th>
                </tr>
                </thead>
                <tbody id="RankTbody">
                </tbody>
            </table>
            <button id="reloadData" hx-get="/hello/showAlert" hx-trigger="click" hx-target="#targetDiv">새로고침</button>
            <div id="targetDiv" style="color: red;"></div>
        </div>
    </div>
</div>
<div th:replace="~{commons/footer :: footer}"></div>
    <script>
        $(document).ready(function() {
            $("#recAnchorMonth").click(function() {
                $(this).addClass("active");
                $("#recAnchorToday").removeClass("active");
                updateTable("getWeekRecData", "recTbody");
            });

            $("#recAnchorToday").click(function(){
                $(this).addClass("active");
                $("#recAnchorMonth").removeClass("active");
                updateTable("getTodayRecData","recTbody");
            });

            $("#viewAnchorToday").click(function(){
                $(this).addClass("active");
                $("#viewAnchorToday").removeClass("active");
                updateTable("getTodayViewData","viewTbody");
            });

            $("#viewAnchorMonth").click(function() {
                $(this).addClass("active");
                $("#viewAnchorToday").removeClass("active");
                updateTable("getWeekViewData", "viewTbody");
            });

            function updateTable(url, tbodyId) {

                $.ajax({
                    url: url,
                    type: "POST",
                    success: function(data) {
                        $("#" + tbodyId).html(data);
                    }
                });
            }

            $(".category-link[data-category='all']").addClass("active");
            updateCategoryTable("all");

            $(".category-link").click(function() {
                $(".category-link").removeClass("active");
                $(this).addClass("active");
                var category = $(this).data("category");
                updateCategoryTable(category);
            });

            function formatDateTime(dateTime) {
                var datePart = dateTime.split("T")[0];
                var formattedDate = datePart.replace(/-/g,".");
                return formattedDate;
            }


            function updateCategoryTable(category) {
                $.ajax({
                    url: "getCategoryByContent",
                    type: "POST",
                    data: { category: category },
                    success: function(data) {
                        var tableBody = $("#categoryTbody");
                        tableBody.empty();

                        if (data.length === 0) {
                            tableBody.append("<tr><td colspan='5'>데이터가 없습니다.</td></tr>");
                        } else {
                            data.forEach(function(content) {
                                var row = $("<tr></tr>");
                                row.append("<td class='text-center'>" + content.category + "</td>");
                                row.append("<td style='text-align: center;'><a href='/content/boardView?id=" + content.id + "' style='text-decoration: none; color: black;'>" + content.title + "</a></td>");
                                row.append("<td class='text-center'>" + content.author + "</td>");
                                row.append("<td class='text-center'>" + formatDateTime(content.creDate) + "</td>");
                                row.append("<td class='text-center'>" + content.views + "</td>");
                                tableBody.append(row);
                            });
                        }
                    }
                });
            }
            loadRecData();
        });

        function loadRecData(){
            var tbody = $("#RankTbody");

            // AJAX 요청을 보냅니다.
            $.ajax({
                type: "GET",
                url: "/hello/getRankRecData",
                success: function(data) {
                    tbody.empty();
                    $.each(data, function(index, member) {
                        var row = $("<tr></tr>");
                        row.append("<td>" + (index + 1) + "</td>"); // 순위
                        row.append("<td>" + member.author + "</td>"); // 작성자
                        row.append("<td>" + member.recCount + "</td>"); // 총 추천수
                        tbody.append(row);
                    });
                },
                error: function() {
                    console.error("데이터를 가져오는 중에 오류가 발생했습니다.");
                }
            });
        }

        $("#reloadData").on("click",function(){
            loadRecData();
        });
    </script>
</body>
</html>
