<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 글쓰기(수정)</title>

    <!-- 부트스트랩 CSS -->
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<style>

body {

  padding-top: 70px;

  padding-bottom: 30px;

}



</style>

</head>

<body>
<article>

    <div class="container" role="main">

        <h2>글 작성</h2>

        <form name="form" id="form">
            <input type="hidden" th:value="${loggedInUsername}" name="author" id="author">
            <div class="mb-3">
                <label for="title">제목</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력해 주세요" th:value="${modifyContent.title}">
            </div>

            <div class="mb-3">
                <label for="category">게시글 분류</label>
                <select class="form-select" aria-label="Default select example" id="category" name="category">
                    <option th:selected="${modifyContent.category == null}" value="전체">전체</option>
                    <option th:selected="${modifyContent.category == 'one'}" value="one">One</option>
                    <option th:selected="${modifyContent.category == 'two'}" value="two">Two</option>
                    <option th:selected="${modifyContent.category == 'three'}" value="three">Three</option>
                </select>
            </div>


            <div class="mb-3">
                <label for="content">내용</label>
                <textarea class="form-control" rows="5" name="postContent" id="content" placeholder="내용을 입력해 주세요" th:text="${modifyContent.postContent}"></textarea>
            </div>



        </form>

        <div>
            <button type="button" class="btn btn-sm btn-primary" id="btnModify" th:data-id="${modifyContent.id}">수정</button>
            <button type="button" class="btn btn-sm btn-primary" id="btnList">목록</button>
        </div>
    </div>
</article>
<script th:src="@{/static/js/jquery-3.6.0.min.js}"></script>
<script>
$(document).ready(function () {
    $("#btnModify").click(function () {
        var formData = $("#form").serialize();
        var id = $(this).data("id"); // data-id 속성에서 id 값을 가져옴
        formData += "&id=" + id; // id를 직렬화된 문자열에 추가
        console.log(formData);
        $.ajax({
            type: "PUT",
            url: "/content/modify",
            data: formData,
            success: function (response) {
                if (response === "success") {
                    alert("수정 완료!");
                    location.reload();
                } else if (response === "fail") {
                    alert("수정 실패!");
                } else {
                    alert("알 수 없는 오류 발생!");
                }
            }
        });
    });
});



</script>
</body>
</html>