<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.demo.admin.mapper.AdminNotifiedMapper">


    <resultMap id="notifiedResultMap" type="com.board.demo.admin.vo.NotifiedVO">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="author" column="author" />
        <result property="createdDate" column="created_date" />
        <result property="showYn" column="show_yn" />
        <result property="notiImg" column="noti_img"/>
        <result property="notiNum" column="noti_num"/>
    </resultMap>

    <select id="selectNotified" resultMap="notifiedResultMap">
        SELECT
            *
        FROM
            NOTIFIED
        ORDER BY
            created_date DESC
        LIMIT #{size} OFFSET #{start}
    </select>

    <select id="cntNotified" resultType="int">
        SELECT
            COUNT(*)
        FROM
            NOTIFIED
    </select>
    <!--이전 noti_num을 subString해서 가져옵니다. -->
    <select id="prevNotifiedNum" resultType="java.lang.Integer">
        SELECT
            subString(noti_num, 13)
        FROM
            notified
        WHERE
            noti_num is not null
        ORDER BY
            id DESC
        Limit 1
    </select>


    <!--공지 사항 insert mySQL의 ON DUPLICATE KEY UPDATE문과 같음. -->
    <insert id="insertOrUpdateNotified" parameterType="com.board.demo.admin.vo.NotifiedVO">
        INSERT INTO
            notified
            (
            title,
            content,
            author,
            show_yn,
            noti_num
            )
            VALUES
            (
            #{title},
            #{content},
            #{author},
            'Y',
            #{notiNum}
            )
        ON CONFLICT (noti_num) DO UPDATE
        SET
            title = EXCLUDED.title,
            content = EXCLUDED.content,
            author = EXCLUDED.author,
            modify_id = EXCLUDED.modify_id
    </insert>

    <update id="updateNotifiedShowYn">
        UPDATE
            NOTIFIED
        SET
            show_yn = #{showYn}
        WHERE
            id = #{id}
    </update>

    <delete id="deleteNotification">
        DELETE
        FROM
            NOTIFIED
        WHERE
            id = ${id}
    </delete>

</mapper>
